/* ***** COLOURS ***** */

:root {
  --main-colour: #099268;
  --main-colour-light: #09a775;
}

/* ***** DEFAULT ***** */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  color: #343a40;
  line-height: 1;
  font-weight: 400;
}

/* ***** NAV BAR *****  */

.bg-custom {
  background-color: var(--main-colour); /* replace with your desired color */
}

.navbar {
  background-color: var(--main-colour);
  padding: 0.4rem 2rem;
}

.nav-bar-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-link {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  background-color: none;
  border: none;
  cursor: pointer;
  margin-right: 4rem;
}

.navbar .navbar-nav .nav-link.active {
  color: #fff;
  text-decoration: underline;
}

.navbar-nav .nav-link:hover {
  color: #e6e6e6;
}

h1 {
  margin-bottom: 2.4rem;
  color: var(--main-colour);
}

p {
  padding: 1rem;
  margin-bottom: 1.4rem;
  line-height: 2.4rem;
}

/* ***** HOME PAGE ***** */

.hero-text {
  font-size: 1.8rem;
  line-height: 1;
  padding: 0;
}

.page-text {
  font-size: 1.8rem;
  line-height: 1;
}

li {
  list-style: none;
  padding: 2.5rem;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.btn {
  font-size: 2rem;
  background-color: var(--main-colour);
  color: #fff;
}

/* ***** PAGE *****  */

.post-introduction {
  padding: 3rem 8rem 4rem;
  margin-bottom: 8rem;
}

.post-container {
  margin: 0 auto;
}

.post-subheading {
  font-size: 3.2rem;
  margin-bottom: 1.4rem;
  color: var(--main-colour-light);
}

.post-paragraph {
  font-size: 1.8rem;
  padding: 0;
}

.img-fluid {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

/* ***** CAROUSEL *****  */

.hero-row {
  gap: 12rem;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .carousel-item {
  height: 35rem;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
